.featured-section {
    padding-inline: var(--padding-clamp32to16);
}

.section--heading_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.section--heading {
    font-size: var(--font-clamp72to44);
    font-weight: 600;
    line-height: 1;
    letter-spacing: var(--heading-kern);
}

.section--subheading {
    font-size: var(--font-clamp16to14);
    color: var(--text-sec-dark);
}

.section--body {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.featured--cards_wrapper {
    /* inline-size: min(1200px, 1000%); */
    inline-size: 100%;
    max-inline-size: 1120px;
    block-size: clamp(35rem, 32.1429rem + 14.2857vw, 45rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stack--block {
    inline-size: 100%;
    block-size: 100%;
    position: relative;
    overflow: hidden;
}

.stack--item {
    position: absolute;
    background: gainsboro;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    inline-size: min(100%, 680px);
    block-size: clamp(20rem, 18.2143rem + 8.9286vw, 26.25rem);
    border-radius: 12px;
    transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.stack--item:first-child {
    background: linear-gradient(to bottom, #4df836, #2bbcff);
}

.stack--item:nth-child(2) {
    background: linear-gradient(to bottom, #36c1f8, #fbff2b);
}

.stack--item:nth-child(3) {
    background: linear-gradient(to bottom, #4936f8, #2bff83);
}

.stack--item:nth-child(4) {
    background: linear-gradient(to bottom, #f5f836, #c6ff2b);
}